.col-6 {
    border-color: aqua;
    border-width: 3px;
    display: inline-block;
}

.container {
    margin-top: 60px;
    margin-bottom: 60px;
    display: inline-block;
}

body {
    background-image: url("https://t3.ftcdn.net/jpg/06/64/23/14/360_F_664231497_8yFgM5Gfc36XEmP7zFq97ePXr1YTGDPg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

li {
    margin: auto;
}